a {
  text-decoration: none;
  color: #1a0dab;
}

.App {
  font-family: "Roboto", sans-serif;
  color: #222;
}

.Logo h1 {
  font-size: 20pt;
  color: #f06292;
}

.header {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.SearchPage .Logo {
  margin-right: 2rem;
  width: 5rem;
}

.SearchPage .Logo a {
  text-decoration: none;
  color: black;
}

.SearchBar .queryInput {
  width: 500px;
  padding: 1rem;
  border-radius: 24px;
  border: 1px solid #eaeaea;
  margin-bottom: 1rem;
  font-size: 12pt;
  line-height: 12pt;
  outline: none;
}

.SearchBar .dataSourceInputLabel {
  margin-right: 1rem;
}

.ResultContainer {
  /* margin-top: 2rem; */
  margin-left: 9rem;
}

.descriptor {
  color: #9a9a9a;
  font-size: 10pt;
}

.SearchResult ul {
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.SearchResultItem h3 {
  margin-bottom: 0.1rem;
  font-weight: normal;
}

.SearchResultItem-meta {
  color: #9a9a9a;
  margin-bottom: 1.5rem;
}

.SearchResultItem-metaDescriptor {
  display: inline-block;
  min-width: 11rem;
  margin-right: 1rem;
  font-size: 10pt;
}

.Breadcrumbs {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.Breadcrumbs-item {
  text-decoration: none;
}

.SearchBar {
  margin-bottom: 1rem;
}

.ReportPage h1 {
  margin: 0;
  margin-bottom: 0.1rem;
}

.NutrientTable {
  margin-bottom: 1rem;
}

.NutrientTable thead tr {
  font-weight: bold;
}

.ReportPage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.ReportPage-report,
.ReportPage-analysis {
  /* border: 1px solid black; */
}

.Analysis {
  width: 30rem;
  margin-left: 2rem;
}

.ReportPage-analysis {
  margin-left: 2rem;
}

hr {
  border: none;
  border-top: 1px solid #eaeaea;
}

.NutrientTable h2 {
  margin-bottom: 0.2rem;
}

.NutrientTable td.val {
  text-align: right;
}

.NutrientTable {
  margin-left: 2rem;
}

.indent-2 {
  text-indent: 2rem;
}

.nutTable-right {
  text-align: right;
  padding-right: 1rem;
}

.nutTable-left {
  padding-left: 1rem;
}

.nutTable {
  border: 2px solid #eaeaea;
  margin-left: 2rem;
  border-collapse: collapse;
  width: 30rem;
}

.nutTable td {
  border-top: 1px solid #eaeaea;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.emoji-comparator {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 100%;
  text-align: center;
}

.input-range {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 460px !important;
}

.Comparator {
  margin-top: 4rem;
}

.Comparator div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.Comparator-header {
  text-align: center;
  line-height: 8pt;
}

.Comparator-header h2 {
}
