.App {
}

.SearchBar .queryInput {
  width: 300px;
}

.SearchBar .dataSourceInputLabel {
  margin-right: 1rem;
}

.Breadcrumbs {
  margin-bottom: 1rem;
}

.Breadcrumbs-item {
  text-decoration: none;
}

.SearchBar {
  margin-bottom: 1rem;
}

.NutrientTable {
  margin-bottom: 1rem;
}

.NutrientTable thead tr {
  font-weight: bold;
}

.ReportPage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ReportPage-report,.ReportPage-analysis {
  border: 1px solid black;
}